{% extends "base.html" %}

{% block content%}

    <div class="container">
          <h2>Все кошечки</h2>
          <div class="list">
            {% for cat in cats %}
            
              <a href="{% url 'cat_detail' cat.id %}" class="cat-link">
              <div class="profile">
                  <img src="/media/{{cat.image}}" alt="Cat">
                  <h3>{{cat.name}}</h3>
                  <p class="discription">{{cat.discription}} </p>
              </div>
            </a>
              {% endfor %}
        </div>
    </div>
    
    {% endblock%}